<a href="https://colab.research.google.com/github/rkannaujia/data_science_rk/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Om Gnapatye namah")

Om Gnapatye namah

#Operator & Datatype

In [3]:
a=200;
b=100;
# addition (two operands with plus operator)
print("addition=",(a+b))
# subtraction (two operands with minus operator)
print("substraction=",(a-b))
# multiplication (two operands with * operator)
print("multiplication=",(a*b))
# division (two operands with * operator)
print("division=",(a/b))
x=25
y=4
# two operands with // operator
print("quotient=",(x//y))
# two operands with % operator
print("reminder=",(x%y))

addition= 300
substraction= 100
multiplication= 20000
division= 2.0
quotient= 6
reminder= 1

In [4]:
print(type(True))
print(type(2.53535535623565353535))
print(type(987654321))
print(type("I am string"))

<class 'bool'>
<class 'float'>
<class 'int'>
<class 'str'>

##function

In [5]:
upper_str="THIS IS UPPER CASE"
lower_str="this is lower case"
print("convert in lower=",upper_str.lower())
print("convert in upper=",lower_str.upper())
print("Title=",upper_str.upper())
print("I am a Data science and AI/ML Eng".count('a'))
print("I am a Data science and AI/ML Eng".replace('AI/ML', "Artificial intelegence & machine learning"))
'i am rahul'.find('am')

convert in lower= this is upper case
convert in upper= THIS IS LOWER CASE
Title= THIS IS UPPER CASE
5
I am a Data science and Artificial intelegence & machine learning Eng

2

In [6]:
msg1="I'm learning data science"
msg2="& it's fun"
msg = msg1+' '+msg2
print(msg)

I'm learning data science & it's fun

In [7]:
print(f'you can print varibale inside string like this:- {msg}')
print(f'{msg1} {msg2}')

you can print varibale inside string like this:- I'm learning data science & it's fun
I'm learning data science & it's fun

List => Elements in squre bracket seprated by comma. List are mutable

In [8]:
contries = ["INDIA","US","China","Brazil"]
print(contries)
print(contries[0])
print(contries[1])
print(contries[2])
print(contries[3])
print("negative indexing",contries[-1])
print("negative indexing",contries[-4])

['INDIA', 'US', 'China', 'Brazil']
INDIA
US
China
Brazil
negative indexing Brazil
negative indexing INDIA

In [9]:
#slicing list_name[start:stop]
print(contries[0:2])
print(contries[-3:-1])

['INDIA', 'US']
['US', 'China']

In [10]:
contries.append('Canada')
print(contries)

['INDIA', 'US', 'China', 'Brazil', 'Canada']

In [11]:
contries.insert(2,'Japan')
print(contries)

['INDIA', 'US', 'Japan', 'China', 'Brazil', 'Canada']

In [12]:
contries_2=["UK","GERMANY","Austria"]
contries+contries_2

['INDIA',
 'US',
 'Japan',
 'China',
 'Brazil',
 'Canada',
 'UK',
 'GERMANY',
 'Austria']

In [13]:
nested_listed=[contries,contries_2]
print(nested_listed)

[['INDIA', 'US', 'Japan', 'China', 'Brazil', 'Canada'], ['UK', 'GERMANY', 'Austria']]

In [17]:
#remove by element name
contries.remove("China")
contries

['INDIA', 'US', 'Japan']

In [18]:
#remove by index
contries.pop(-1)

'Japan'

sorting a list

In [22]:
numbers=[8,3,5,2,3,7,5,8]
numbers.sort()
print(numbers)
numbers.sort(reverse=True)
print(numbers)

[2, 3, 3, 5, 5, 7, 8, 8]
[8, 8, 7, 5, 5, 3, 3, 2]

updating an element

In [25]:
for i in range(len(numbers)):
  numbers[i]=numbers[i]*2
print(numbers)

[16, 16, 14, 10, 10, 6, 6, 4]

copying a list

In [27]:
contries = ["INDIA","US","China","Brazil","Switzerland","Germany"]
countries_copy_1=contries[:] # method one for copy
countries_copy_2=contries.copy() # method two for copy
print(f'method1 {countries_copy_1} & method2 {countries_copy_2}')

method1 ['INDIA', 'US', 'China', 'Brazil', 'Switzerland', 'Germany'] & method2 ['INDIA', 'US', 'China', 'Brazil', 'Switzerland', 'Germany']

Dictionary:- an unordered collection of items in key value pair

In [32]:
my_dict={'key1':'value1','key2':'value2'}
my_data={'name':'rahul','age':29}
print(my_data)
print(my_data.keys())
print(my_data.values())
print(my_data.items())

{'name': 'rahul', 'age': 29}
dict_keys(['name', 'age'])
dict_values(['rahul', 29])
dict_items([('name', 'rahul'), ('age', 29)])

In [41]:
my_data['height']=180
for key,value in my_data.items():
  if(key=='height'):
    value=value+0.10
    print(f'my height is {value}')
my_data.update({'name':'rahul kannaujia'})
print(my_data)

my height is 180.1
{'name': 'rahul kannaujia', 'age': 29, 'height': 180}

remove element from dict

In [42]:
my_data.pop('name')
print(my_data)

{'age': 29, 'height': 180}

In [48]:
age = 19
if(age<18 or age >120):
  print("you are not eligible")
elif(age>=18):
  print("you are eligible")
else:
  print("you are not eligible")

you are eligible

In [52]:
def sum(num):
  sum=0
  for i in range(num+1):
    sum=sum+i
  return sum
print(sum(10))

55

In [53]:
import os
print(os.getcwd())

/content

In [54]:
print(os.listdir())

['.config', 'sample_data']